.profile-card {
    border: 1px solid #5c5c5c;
    border-radius: 8px;
    padding: 12px;
    margin: 16px;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .profile-image {
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
  }

  .leftside{
    display: flex;
    align-items: left;
  }
  
  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .profile-details {
    margin-top: 10px;
  }
  
  .profile-row {
    display: flex; 
    justify-content: space-between; 
    padding: 5px;
    margin-bottom: 5px; 
  }
  
  .field {
    flex: 1; 
    text-align: left;
    padding: 10px;
  }
  
  .field:last-child {
    margin-right: 0; 
  }
  
  strong {
    display: block; 
    margin-bottom: 5px; 
  }
  
  input[type="text"],
  textarea {
    width: 100%; /* Full width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
  }
  
  .profile-actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 10px; 
  }

  .b{
    background: transparent;
    border: none;
    font-size: 20px;
  }
  
  /* 
  for list styling */
  .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .search-input {
    width: 400px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .plist {
display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto;
  }
  


  /* Modal css */
  /* ConfirmationModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
   
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    border:  1px solid rgb(68, 68, 68);
    border-radius: 10px;
    padding: 20px;
    /* border-radius: 5px; */
    text-align: center;
  }
  
  .modal-actions {
    margin-top: 20px;

  }
  .del{
    background-color: rgb(255, 91, 31);
  }
  
  .modal-actions button {
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }
  